@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'JetBrains Mono', monospace;
}


/* disable scrollbar */
::-webkit-scrollbar {
	display: none;
}
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}


body {
	background: black;
}

.char {
	cursor: pointer;
}

.char[data-fire="true"]::after {
	content: "";
	position: relative;
	z-index: -1;
	box-shadow:
		0 0 30rem 3rem #ff0000,
		0 0 20rem 2rem 	#ff9a00,
		-11px 0 5rem 1.5rem #ffe808;
}
